<div>
    <h1>{{title}}</h1>
    <form name="signUpForm" action="signUp" method="post">
        <div>First Name</div>
        <input type="text">
        <div>Last Name</div>
        <input type="text">
        <button>REGISTER</button>
    </form>
    <div>LOGIN PAGE BELOW</div>
    <form name="login" action="login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Log In">
    </form>
</div>